.footer {
  &__body {
    padding: 70px 0 0;
  }
  &__menu {
    text-align: center;
    line-height: calc(19 / 16 * 100%);
    font-size: 16px;
    font-weight: 500;
  }
  &__column {
    &:first-child {   
    justify-self: flex-start;
    @media only screen and (max-width: $breakpoints_mobile) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    }
    
  }
  &__columns {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1px 0.87fr 1px 1fr;
    justify-items: center;
    gap: 30px 15px;
    margin-bottom: 45px;
    @media only screen and (max-width: $breakpoints_mobile) {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      margin-bottom: 20px;
    }
  }
  &__container {
  }
  &__copyright {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #abaeb7;
    border-top: 1px solid #2e313a;
  }
  &__link {
    color: rgba(255, 176, 119, 1);
  }
  &__logo {
    font-size: 65px;
    font-family: "Larken", sans-serif;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 86px;
    @media only screen and (max-width: $breakpoints_mobile) {
      margin-bottom: 20px;
    }
  }
  &__text {
    max-width: 349px;
    font-size: 16px;
    line-height: 162%;
    color: #d7e0e1;
    @media only screen and (max-width: $breakpoints_mobile) {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 5px;
  }
  &__subtitle {
    max-width: 271px;
    font-size: 18px;
    line-height: 156%;
    color: #abaeb7;
    margin-bottom: 30px;
    @media only screen and (max-width: $breakpoints_mobile) {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  &__devider {
    width: 1px;
    background: linear-gradient(
      180deg,
      rgba(171, 174, 183, 0) 0%,
      #abaeb7 51.56%,
      rgba(171, 174, 183, 0) 100%
    );
    &:nth-child(2),&:nth-child(4) {
      @media only screen and (max-width: $breakpoints_mobile) {
        display: none;
      }
    }
  }
}
