.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__container {
    @extend %container;
    max-width: $content_width_large;
    position: relative;
    min-height: 102px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr calc(1071 / 1920 * 100%);
    gap: 12px;
    @media only screen and (max-width: $breakpoints_desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 50px;
    font-family: "Larken", sans-serif;
    color: inherit;
    @media only screen and (max-width: $breakpoints_large) {
      font-size: 40px;
    }
    @media only screen and (max-width: $breakpoints_desktop) {
      font-size: 30px;
    }
    @media only screen and (max-width: $breakpoints_tablet) {
      font-size: 35px;
    }
  }
  &__menu {
    line-height: calc(19 / 16 * 100%);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 25px;
    text-transform: uppercase;
    @media only screen and (max-width: $breakpoints_large) {
      font-size: 14px;
    }
    @media only screen and (max-width: $breakpoints_mobile) {
      display: none;
    }
  }
  &__burger-icon {
    display: none;
    position: relative;
    z-index: 30;
    @media only screen and (max-width: $breakpoints_mobile) {
      display: block;
      margin-top: 2px;
    }
  }
  &__burger-menu {
    display: none;
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $color_primary;
    padding: 70px 30px;
    text-transform: uppercase;
    border: 1px solid grey;
    z-index: 20;
    transition: right 0.5s ease-in-out;
    @media only screen and (max-width: $breakpoints_mobile) {
      display: block;
    }
    &.open {
      right: 0;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width: $breakpoints_mobile) {
      display: none;
    }
  }
}
