.burger-icon {
  transition: 0.3s all linear;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  &__menu-icon {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    &::before {
      transform: translate(-5.5px, -11px);
    }

    &::after {
      transform: translate(-5.5px, 8px);
    }
  }
  &__wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -85%;
    left: -35%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.3s;
    z-index: 999;
    @media only screen and (max-width: $breakpoints_tablet) and (hover: hover) {
      &.burger_wrapper--transparent {
        background-color: transparent;
      }

      &:hover,
      &.burger_wrapper--transparent:hover {
        cursor: pointer;
        background-color: rgb(255, 201, 120, 0.2);
      }

      &:active,
      &.burger_wrapper--transparent:active {
        background-color: #181818;
      }
    }
  }
}

.burger-icon__wrapper.open + .burger-icon__menu-icon {
  transform: translateY(3px) rotate(45deg);
  &::before {
    transform: translate(-7px) rotate(90deg);
  }
  &::after {
    transform: translate(-7px, -3px) rotate(180deg);
  }
}
