.card {
  width: 300px;
  height: 500px;
  @media only screen and (max-width: $breakpoints_desktop) {
    min-width: calc(50vw - $padding_destop) ;
    height: 600px;
  }
  @media only screen and (max-width: $breakpoints_tablet) {
    min-width: calc(50vw - $padding_tablet - 10px) ;
    height: 500px;
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    min-width: calc(100vw - 2*$padding_mobile) ;
    height: 430px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
&_hide {
  display: none;
}
}