.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  position: relative;
  @media only screen and (max-width: $breakpoints_mobile) {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  &__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
  &__body-row {
    td {
      padding: 20px 0;
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 5px 0;
      }
    }
    &:first-child {
      td {
        padding: 30px 0 20px;
        @media only screen and (max-width: $breakpoints_mobile) {
          padding: 5px 0;
        }
      }
    }
  }
  &__head {
    color: #ffb076;
    font-family: "Larken";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
  &__link {
    background-color: transparent;
    color: $color_text;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $color_accient;
    }
  }
  &__head-row {
    th {
      padding: 10px 0;
      padding-right: 60px;
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 0px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding-right: 70px;
        @media only screen and (max-width: $breakpoints_mobile) {
          padding: 0px;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  td {
    border-top: 1px solid $color_text;
    color: $color_text;
    padding-right: 60px;
    &:nth-child(1) {
      padding-right: 70px;
      color: $color_secondary;
    }
    &:nth-child(2) {
      padding-right: 70px;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
