@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
.header__container {
  padding: 0 100px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media only screen and (max-width: 1720px) {
  .header__container {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 992px) {
  .header__container {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .header__container {
    padding: 0 20px;
  }
}

.image-block__wrapper::-webkit-scrollbar, .project__table-wrapper::-webkit-scrollbar, .project-last__cards-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}
.image-block__wrapper::-webkit-scrollbar:horizontal, .project__table-wrapper::-webkit-scrollbar:horizontal, .project-last__cards-wrapper::-webkit-scrollbar:horizontal {
  height: 6px;
}
.image-block__wrapper::-webkit-scrollbar-track, .project__table-wrapper::-webkit-scrollbar-track, .project-last__cards-wrapper::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #0b0e17;
  border: 1px solid #abaeb7;
}
.image-block__wrapper::-webkit-scrollbar-thumb, .project__table-wrapper::-webkit-scrollbar-thumb, .project-last__cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #abaeb7;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Larken";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Larken-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Larken";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Larken-Regular.ttf") format("truetype");
}
/* set box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

/* reset padding */
ul[class],
ol[class],
li {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

/* reset margin */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

/* set basic config for body */
html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #0b0e17;
}

/* -------------------------------------- */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1290px;
  padding: 0 100px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media only screen and (max-width: 1720px) {
  ._container {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 992px) {
  ._container {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  ._container {
    padding: 0 20px;
  }
}

._container-large {
  max-width: 1720px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Larken", sans-serif;
  font-style: normal;
  font-size: 84px;
  line-height: 112%;
  text-transform: uppercase;
  margin: 0;
}
@media only screen and (max-width: 1720px) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 42px;
    line-height: 129%;
  }
}

h2 {
  font-family: "Larken", sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 128%;
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-family: "Larken", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: calc 129.1666666667%;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 38px;
  }
}

h4 {
  font-style: normal;
  font-size: 24px;
  line-height: 129.1666666667%;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-family: "Larken", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 131.25%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffc978;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
}
@media only screen and (max-width: 992px) {
  h6 {
    font-size: 12px;
  }
}

.menu {
  font-weight: 500;
}
.menu__link {
  color: #abaeb7;
}
@media only screen and (max-width: 1720px) {
  .menu__link {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.menu__list {
  width: 100%;
  display: flex;
  gap: 15px 35px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1720px) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .menu__list {
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.menu__list_footer {
  row-gap: 25px;
  flex-direction: column;
}

.button {
  position: relative;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #ffffff;
  z-index: 5;
}
@media only screen and (max-width: 1250px) {
  .button {
    font-size: 14px;
    padding: 8px 20px;
  }
}

.button_large {
  padding: 20px 35px;
}
@media only screen and (max-width: 1250px) {
  .button_large {
    padding: 15px 20px;
  }
}

.card {
  width: 300px;
  height: 500px;
}
@media only screen and (max-width: 1250px) {
  .card {
    min-width: 300px;
  }
}
.card img {
  width: 100%;
  height: 100%;
}

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .table {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
.table__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.table__body-row td {
  padding: 20px 0;
}
@media only screen and (max-width: 767px) {
  .table__body-row td {
    padding: 5px 0;
  }
}
.table__body-row:first-child td {
  padding: 30px 0 20px;
}
@media only screen and (max-width: 767px) {
  .table__body-row:first-child td {
    padding: 5px 0;
  }
}
.table__head {
  color: #ffb076;
  font-family: "Larken";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.table__head-row th {
  padding: 10px 0;
  padding-right: 60px;
}
@media only screen and (max-width: 767px) {
  .table__head-row th {
    padding: 0px;
  }
}
.table__head-row th:nth-child(1), .table__head-row th:nth-child(2) {
  padding-right: 70px;
}
@media only screen and (max-width: 767px) {
  .table__head-row th:nth-child(1), .table__head-row th:nth-child(2) {
    padding: 0px;
  }
}
.table__head-row th:last-child {
  padding-right: 0;
}
.table td {
  border-top: 1px solid #abaeb7;
  color: #abaeb7;
  padding-right: 60px;
}
.table td:nth-child(1) {
  padding-right: 70px;
  color: #fff;
}
.table td:nth-child(2) {
  padding-right: 70px;
}
.table td:last-child {
  padding-right: 0;
}

.devider-block {
  display: flex;
}
.devider-block__devider {
  height: 150px;
  width: 2px;
  background: linear-gradient(180deg, rgba(197, 225, 228, 0) 0%, #c5e1e4 51.56%, rgba(197, 225, 228, 0) 100%);
}
@media only screen and (max-width: 767px) {
  .devider-block__devider {
    display: none;
  }
}
.devider-block__text {
  font-size: 16px;
  padding: 30px 0 30px 30px;
  line-height: 162%;
}
@media only screen and (max-width: 767px) {
  .devider-block__text {
    padding: 0;
  }
}

.text-block {
  display: flex;
  justify-content: space-between;
}
.text-block__subtitle {
  font-size: 18px;
  line-height: 21px;
}
@media only screen and (max-width: 767px) {
  .text-block__subtitle {
    font-size: 14px;
  }
}
.text-block__title {
  font-family: "Larken";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
}
@media only screen and (max-width: 767px) {
  .text-block__title {
    font-size: 44px;
  }
}
.text-block__percent {
  font-family: "Larken";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 70px;
}

.button-circle {
  position: relative;
}
.button-circle__center {
  top: calc(50% - 19px);
  left: calc(50% - 19px);
  position: absolute;
}
@media only screen and (max-width: 1250px) {
  .button-circle {
    display: none;
  }
}

.button-arrow_right, .button-arrow_left {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(255, 201, 120, 0.7);
  z-index: 3;
}
.button-arrow_right:hover, .button-arrow_left:hover {
  cursor: pointer;
  background-color: rgba(255, 201, 120, 0.5);
}

.button-arrow_left {
  left: 30px;
}
@media only screen and (max-width: 767px) {
  .button-arrow_left {
    left: 10px;
  }
}

.button-arrow_right {
  right: 30px;
}
@media only screen and (max-width: 767px) {
  .button-arrow_right {
    right: 10px;
  }
}

.item-service {
  padding: 391px 30px 30px;
  text-align: start;
}
@media only screen and (max-width: 1250px) {
  .item-service {
    padding-top: 500px;
    width: 100%;
  }
}
.item-service__subtitle {
  position: relative;
  z-index: 5;
}
.item-service__title {
  margin-bottom: 10px;
  position: relative;
  z-index: 5;
}
.item-service:nth-child(1), .item-service:nth-child(4) {
  margin-top: -129px;
  margin-bottom: 129px;
}
@media only screen and (max-width: 1250px) {
  .item-service:nth-child(1), .item-service:nth-child(4) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.item-service img {
  -o-object-position: center;
     object-position: center;
}
.item-service:nth-child(3) img {
  -o-object-position: center 90%;
     object-position: center 90%;
}
.item-service:nth-child(5) img {
  -o-object-position: center 35%;
     object-position: center 35%;
}

.burger {
  transition: 0.3s all linear;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger__menu-icon {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  margin: 6px;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
}
.burger__menu-icon::before, .burger__menu-icon::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.burger__menu-icon::before {
  transform: translate(-5.5px, -11px);
}
.burger__menu-icon::after {
  transform: translate(-5.5px, 8px);
}
.burger__wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -85%;
  left: -35%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.3s;
  z-index: 999;
}
@media only screen and (max-width: 992px) and (hover: hover) {
  .burger__wrapper.burger_wrapper--transparent {
    background-color: transparent;
  }
  .burger__wrapper:hover, .burger__wrapper.burger_wrapper--transparent:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .burger__wrapper:active, .burger__wrapper.burger_wrapper--transparent:active {
    background-color: #181818;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  max-width: 1720px;
  position: relative;
  min-height: 102px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 55.78125%;
  gap: 12px;
}
@media only screen and (max-width: 1250px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}
.header__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 50px;
  font-family: "Larken", sans-serif;
  color: inherit;
}
@media only screen and (max-width: 1720px) {
  .header__logo {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1250px) {
  .header__logo {
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .header__logo {
    font-size: 35px;
  }
}
.header__menu {
  line-height: 118.75%;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 25px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1720px) {
  .header__menu {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header__burger {
    display: block;
    margin-top: 2px;
  }
}
.header__button {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
}

.footer__body {
  padding: 70px 0 0;
}
.footer__menu {
  text-align: center;
  line-height: 118.75%;
  font-size: 16px;
  font-weight: 500;
}
.footer__column:first-child {
  justify-self: flex-start;
}
@media only screen and (max-width: 767px) {
  .footer__column:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.footer__columns {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1px 0.87fr 1px 1fr;
  justify-items: center;
  gap: 30px 15px;
  margin-bottom: 45px;
}
@media only screen and (max-width: 767px) {
  .footer__columns {
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-bottom: 20px;
  }
}
.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #abaeb7;
  border-top: 1px solid #2e313a;
}
.footer__link {
  color: rgb(255, 176, 119);
}
.footer__logo {
  font-size: 65px;
  font-family: "Larken", sans-serif;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 86px;
}
@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 35px;
  }
}
.footer__text {
  max-width: 349px;
  font-size: 16px;
  line-height: 162%;
  color: #d7e0e1;
}
@media only screen and (max-width: 767px) {
  .footer__text {
    max-width: 100%;
  }
}
.footer__title {
  margin-bottom: 5px;
}
.footer__subtitle {
  max-width: 271px;
  font-size: 18px;
  line-height: 156%;
  color: #abaeb7;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .footer__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.footer__devider {
  width: 1px;
  background: linear-gradient(180deg, rgba(171, 174, 183, 0) 0%, #abaeb7 51.56%, rgba(171, 174, 183, 0) 100%);
}
@media only screen and (max-width: 767px) {
  .footer__devider:nth-child(2), .footer__devider:nth-child(4) {
    display: none;
  }
}

.page {
  position: relative;
  flex: 1 1 auto;
}
.page__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/bg.png);
  opacity: 0.1;
  z-index: 1;
}

.page__main-block {
  position: relative;
  z-index: 2;
}

.page__services {
  position: relative;
  z-index: 2;
}

.page__about {
  position: relative;
  z-index: 2;
}

.page__project-last {
  position: relative;
  z-index: 2;
}

.page__expirience {
  position: relative;
  z-index: 2;
}

.page__project {
  position: relative;
  z-index: 2;
}

.page__team {
  position: relative;
  z-index: 2;
}

.page__image-block {
  position: relative;
  overflow-x: hidden;
  padding: 0 60px;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  .page__image-block {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .page__image-block {
    padding: 0 20px;
  }
}

.main-block__body {
  position: relative;
  padding: 273px 69px 277px 100px;
}
@media only screen and (max-width: 1720px) {
  .main-block__body {
    padding: 147px 30px 60px;
  }
}
@media only screen and (max-width: 1250px) {
  .main-block__body {
    padding: 147px 30px 107px 60px;
  }
}
@media only screen and (max-width: 992px) {
  .main-block__body {
    padding: 147px 30px 58px;
  }
}
@media only screen and (max-width: 767px) {
  .main-block__body {
    padding: 147px 20px 58px;
  }
}
.main-block__container {
  display: grid;
  grid-template-columns: 1fr 55.78125%;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .main-block__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .main-block__container {
    display: block;
  }
}
.main-block__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .main-block__image {
    height: 95vw;
  }
}
.main-block__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media only screen and (max-width: 767px) {
  .main-block__image img {
    -o-object-position: top;
       object-position: top;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.main-block__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-block__background img {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-position: bottom;
     object-position: bottom;
  bottom: 111px;
  right: -40px;
}
.main-block__background-text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 800;
  font-size: 168px;
  line-height: 60%;
  text-transform: uppercase;
  color: rgba(11, 14, 23, 0.4);
  z-index: 5;
}
@media only screen and (max-width: 1720px) {
  .main-block__background-text {
    font-size: 120px;
  }
}
@media only screen and (max-width: 1250px) {
  .main-block__background-text {
    font-size: 90px;
  }
}
@media only screen and (max-width: 992px) {
  .main-block__background-text {
    right: 0;
    left: auto;
    top: 0;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    transform: rotate(270deg) translate(-50%, 170px);
  }
}
.main-block__subtitle {
  position: relative;
  margin-bottom: 30px;
  z-index: 5;
}
@media only screen and (max-width: 1250px) {
  .main-block__subtitle {
    margin-bottom: 20px;
  }
}
.main-block__text {
  position: relative;
  max-width: 534px;
  font-size: 20px;
  line-height: 165%;
  margin-bottom: 50px;
  color: #abaeb7;
  z-index: 5;
}
@media only screen and (max-width: 1250px) {
  .main-block__text {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .main-block__text {
    margin-bottom: 20px;
  }
}
.main-block__title {
  position: relative;
  margin-bottom: 10px;
  z-index: 5;
}

.services__body {
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 1250px) {
  .services__body {
    text-align: left;
  }
}
.services__column {
  display: flex;
  gap: 30px;
  width: 100%;
}
@media only screen and (max-width: 1720px) {
  .services__column {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1250px) {
  .services__column {
    display: none;
  }
}
.services__column_slider {
  display: none;
}
@media only screen and (max-width: 1250px) {
  .services__column_slider {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.services__container {
  padding-top: 140px;
}
@media only screen and (max-width: 992px) {
  .services__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .services__container {
    padding-top: 50px;
  }
}
.services__subtitle {
  margin-bottom: 13px;
}
.services__title {
  margin-bottom: 52px;
}

.about__container {
  padding-top: 140px;
}
@media only screen and (max-width: 992px) {
  .about__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .about__container {
    padding-top: 50px;
  }
}
.about__text-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.about__devider-block {
  padding-right: 90px;
  max-width: 570px;
  margin-bottom: 17px;
  margin-left: 78px;
}
@media only screen and (max-width: 1250px) {
  .about__devider-block {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .about__devider-block {
    padding: 0;
    margin-left: 0;
  }
}
.about__image-block {
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 630px;
}
@media only screen and (max-width: 1250px) {
  .about__content {
    max-width: 100%;
  }
}
.about__body {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media only screen and (max-width: 1250px) {
  .about__body {
    flex-direction: column;
    align-items: center;
  }
}
.about__button {
  margin-left: 20px;
}
@media only screen and (max-width: 767px) {
  .about__button {
    margin-left: 0px;
  }
}
.about__card {
  width: 100%;
  min-width: 300px;
  height: 500px;
}
@media only screen and (max-width: 1250px) {
  .about__card {
    min-width: 0;
    height: 50vw;
  }
}
@media only screen and (max-width: 767px) {
  .about__card {
    height: 60vw;
  }
}
.about__card:last-child {
  margin-top: -87px;
  margin-bottom: 87px;
}
@media only screen and (max-width: 1250px) {
  .about__card:last-child {
    margin-top: -59px;
    margin-bottom: 59px;
  }
}
@media only screen and (max-width: 767px) {
  .about__card:last-child {
    margin-top: -49px;
    margin-bottom: 49px;
  }
}
.about__cards {
  display: flex;
  gap: 30px;
  margin-top: 87px;
}
@media only screen and (max-width: 1250px) {
  .about__cards {
    width: 100%;
    justify-content: space-around;
    margin-top: 59px;
  }
}
@media only screen and (max-width: 767px) {
  .about__cards {
    gap: 15px;
  }
}
.about__image {
  width: 100%;
  height: 175px;
}
.about__image img {
  -o-object-position: center 43%;
     object-position: center 43%;
}
@media only screen and (max-width: 1250px) {
  .about__image {
    max-width: 100%;
    height: 40vw;
  }
}
.about__subtext {
  font-family: "Larken";
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 93.75%;
}
@media only screen and (max-width: 767px) {
  .about__subtext {
    font-size: 88px;
  }
}
.about__procent {
  font-family: "Larken";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 128%;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .about__procent {
    font-size: 44px;
  }
}
.about__subtitle {
  max-width: 78px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 44px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .about__subtitle {
    margin-bottom: 0px;
  }
}
.about__title {
  margin-bottom: 18px;
}

.project-last__container {
  padding-top: 112px;
}
@media only screen and (max-width: 992px) {
  .project-last__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .project-last__container {
    padding-top: 50px;
  }
}
.project-last__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 992px) {
  .project-last__title-block {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .project-last__title-block {
    margin-bottom: 40px;
  }
}
.project-last__card:nth-child(odd) {
  margin-top: -50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1250px) {
  .project-last__card:nth-child(odd) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.project-last__cards-wrapper {
  width: 100%;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1250px) {
  .project-last__cards-wrapper {
    overflow-x: auto;
  }
}
.project-last__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media only screen and (max-width: 1250px) {
  .project-last__cards {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1250px) {
  .project-last__cards {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .project-last__menu {
    width: 100%;
  }
}
.project-last__subtitle {
  margin-bottom: 15px;
}
@media only screen and (max-width: 992px) {
  .project-last__title {
    margin-bottom: 30px;
  }
}

.expirience {
  position: relative;
}
.expirience__block {
  max-width: 459px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media only screen and (max-width: 1250px) {
  .expirience__block {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .expirience__block {
    gap: 20px;
  }
}
.expirience__body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 62px 235px;
  gap: 143px;
  z-index: 5;
}
@media only screen and (max-width: 1720px) {
  .expirience__body {
    padding: 62px 75px;
    gap: 80px;
  }
}
@media only screen and (max-width: 1250px) {
  .expirience__body {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .expirience__body {
    padding: 20px 20px;
    gap: 40px;
  }
}
.expirience__container {
  position: relative;
  padding-top: 140px;
  margin: 0 auto;
  max-width: 1920px;
}
@media only screen and (max-width: 992px) {
  .expirience__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .expirience__container {
    padding-top: 50px;
  }
}
.expirience__image {
  align-self: center;
  max-width: 558px;
  height: 100%;
}
@media only screen and (max-width: 1250px) {
  .expirience__image {
    order: 2;
  }
}
@media only screen and (max-width: 767px) {
  .expirience__image img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
}
.expirience__text-block {
  width: 100%;
}
.expirience__title {
  line-height: 116.6666666667%;
}
.expirience__background {
  position: absolute;
  width: 100%;
  height: calc(100% - 140px);
  top: 140px;
  right: 0;
  background: #23272f;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .expirience__background {
    height: calc(100% - 80px);
    top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .expirience__background {
    height: calc(100% - 50px);
    top: 50px;
  }
}
.expirience__background-image {
  position: absolute;
  top: 140px;
  right: 0;
  width: 100%;
  height: calc(100% - 140px);
  background: #0b0e17;
  z-index: 2;
}
@media only screen and (max-width: 992px) {
  .expirience__background-image {
    top: 80px;
    height: calc(100% - 80px);
  }
}
@media only screen and (max-width: 767px) {
  .expirience__background-image {
    top: 50px;
    height: calc(100% - 50px);
  }
}
.expirience__background-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/bg.png);
  opacity: 0.1;
}
.expirience__background-image img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__container {
  padding-top: 140px;
}
@media only screen and (max-width: 992px) {
  .project__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .project__container {
    padding-top: 50px;
  }
}
.project__content {
  display: flex;
  justify-content: space-between;
  gap: 40px 20px;
}
@media only screen and (max-width: 1250px) {
  .project__content {
    flex-wrap: wrap;
  }
}
.project__devider-block {
  max-width: 472px;
}
.project__image {
  width: 410px;
  height: 500px;
  margin-top: 10px;
}
@media only screen and (max-width: 1250px) {
  .project__image {
    width: 100%;
  }
  .project__image img {
    -o-object-position: left 65%;
       object-position: left 65%;
  }
}
.project__subtitle {
  margin-bottom: 20px;
}
.project__table-wrapper {
  width: 100%;
  overflow-x: auto;
}
.project__table {
  margin-bottom: 28px;
}
@media only screen and (max-width: 1250px) {
  .project__table {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .project__table {
    width: 708px;
  }
}
.project__text-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .project__text-block {
    flex-direction: column;
  }
}
.team__container {
  padding-top: 140px;
}
@media only screen and (max-width: 992px) {
  .team__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .team__container {
    padding-top: 50px;
  }
}
.team__image {
  width: 100%;
  height: 649px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1250px) {
  .team__image {
    height: 50vw;
  }
}
.team__image img {
  -o-object-position: top;
     object-position: top;
  -o-object-fit: contain;
     object-fit: contain;
}
.team__row {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 28px;
  padding: 30px 0 15px;
  border-bottom: 1px solid rgba(171, 174, 183, 0.3);
}
@media only screen and (max-width: 767px) {
  .team__row {
    padding: 10px 0 5px;
  }
}
.team__subtitle {
  margin-bottom: 20px;
}
.team__title {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .team__title {
    margin-bottom: 20px;
  }
}
.team__text {
  font-size: 16px;
  padding: 30px 0 30px 30px;
  line-height: 162%;
}

.image-block__container {
  width: 100%;
  display: flex;
  padding-top: 140px;
  justify-content: center;
}
@media only screen and (max-width: 1250px) {
  .image-block__container {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 992px) {
  .image-block__container {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .image-block__container {
    padding-top: 50px;
  }
}
.image-block__wrapper {
  width: 100%;
  overflow-x: auto;
}
.image-block__image {
  max-width: 258px;
  min-width: 240px;
  width: 100%;
  height: 350px;
}
.image-block__image img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */